// Mobile menu
$mobile-nav-offset: 20px;
$mobile-nav-radius : 8px;
$mobile-nav-shadow : 0 2px 12px rgba($black, .15);

// Border styles for class*='border-'
$bg-params-border-style: solid;

// Text-shadow on OverlayedCards
$texts-shadow: true;

// Submenus
$submenu-animation-delay: false;