<div class="woody_footer bg-mediumgray padd-all-lg">
    <div class="grid-x grid-padding-x align-stretch">
        <div class="cell large-6 xlarge-4"></div>
        <div class="cell large-6 xlarge-4 newsletter-block flex-container flex-dir-column align-center align-middle">
            <div class="brand-wrapper">
                <a class="brand-logo isRel" href="{{ site.url }}">{{ brand_logo|raw }}</a>
            </div>
        </div>
        <div class="cell large-6 xlarge-4"></div>
    </div>
</div>

<div class="subfooter flex-container align-justify align-middle wrap">
    <div class="credits">
        <small>
            {{ __('Site réalisé par Raccourci Agency', 'woody-sandbox') }}
        </small>
    </div>
</div>

