<div class="woody_footer">
    <div class="grid-x grid-padding-x align-stretch">
        <div class="cell medium-6 large-4"></div>
        <div class="cell medium-6 large-4"></div>
        <div class="cell show-for-large large-4"></div>
    </div>
</div>
