{% import "macros.twig" as Woody %}

<div class="topheader grid-x bg-black">
    <div class="cell large-6">
        {{ Woody.menu(menus.pro, 'pro-menu', 'pro-link') }}
    </div>

    <div class="cell large-6 flex-container align-middle">
        {{ Woody.menu(menus.social, 'social-menu', 'social-link', false) }}
    </div>
</div>
