/////////////////////////////////
// Buttons
/////////////////////////////////
.button {
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 5px;

    &.primary,
    &.secondary {
        color: $white;

        &:hover {
            color: $white;
        }
    }
}

.bg-primary {
    .button:not(.card-button) {
        background-color: darken($primary-color, 7%);

        &:hover,
        &:focus {
            background-color: darken($primary-color, 14%);
        }
    }

    .button.secondary {
        background-color: $secondary-color;

        &:hover,
        &:focus {
            background-color: darken($secondary-color, 7%);
        }
    }
}

.bg-secondary {
    .button:not(.card-button) {
        background-color: darken($secondary-color, 7%);

        &:hover,
        &:focus {
            background-color: darken($secondary-color, 14%);
        }
    }
}

/////////////////////////////////
// Header
/////////////////////////////////
.main-menu-wrapper {
    .menuLogo {
        padding: 0 !important;
    }

    .brand-logo {
        display: block;
        max-width: 180px;
    }
}

.mobile-header {
    padding: 10px;

    .brand-logo {
        max-width: 100px;
        display: inline-block;
        margin: 0 auto;

        img {
            max-width: 100%;
            margin: 0 auto;
        }
    }
}

.menu.dropdown {
    li>.menuLink {
        color: $black;

        .menuLink-title {
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

/////////////////////////////////
// Footer
/////////////////////////////////
.woody_footer {
    .brand-wrapper {
        margin-bottom: 40px;
    }

    .brand-logo {
        max-width: 260px;

        path,
        rect,
        polygon {
            fill: #fff !important;
        }
    }

    .social-networks {
        .footer-block-text:nth-last-of-type(1) {
            @extend .footer-block-title;
            @extend .h4;

            @include breakpoint(large down) {
                text-align: center;
            }
        }

        ul {
            @include breakpoint(large down) {
                justify-content: center;
            }

            a {
                display: block;
                font-size: rem-calc(26);
                color: #fff;
                margin-right: 10px;
                transition: transform .3s;

                &:hover {
                    transform: translateY(-2px);
                }
            }
        }
    }
}

.footer-block-title {
    text-transform: uppercase;
    font-weight: 900;
}

.footer-block-text {
    font-size: rem-calc(14);
    display: block;
    max-width: 300px;
}

.subfooter {
    padding: 10px;
    background-color: #000;
    color: $white;

    a {
        color: darken($white, 10%);
        transition: color .3s;

        &:after {
            display: none !important;
        }

        &:hover {
            color: $white;
        }
    }

    .credits {
        line-height: rem-calc(16);

        @include breakpoint(large down) {
            text-align: center;
            margin-bottom: 30px;
        }
    }

    .legal-menu-wrapper {
        @include breakpoint(large down) {
            display: block;
            width: 100%;
        }
    }

    .legal-menu {
        @include breakpoint(large down) {
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }

        a {
            position: relative;

            @include breakpoint(large) {
                &:before {
                    display: block;
                    content: '';
                    background-color: $white;
                    width: 4px;
                    height: 1px;
                    position: absolute;
                    right: -9px;
                    top: 50%;
                }
            }
        }
    }

    .reveal-button {
        cursor: pointer;

        &:hover,
        &:focus {
            outline: none;
        }
    }
}

/////////////////////////////////
// Typography
/////////////////////////////////
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    font-weight: 900;
    line-height: 1.1em;
}

h5,
.h5 {
    color: $secondary-color;
}

.hero,
.page-main,
.section {
    &-pretitle {
        text-transform: uppercase;
    }
}

.bg-mediangray,
.bg-lightgray {

    h5,
    .h5 {
        color: $secondary-color;
    }
}
